<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
        <listener-class>ru.itis.config.app.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Productservlet</servlet-name>
        <servlet-class>ru.itis.servlets.Productservlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Productservlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>


</web-app>